{% extends 'base.html' %}

{% load crispy_forms_tags %}

**myapp/forms.py**

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}

    <br>
    <div>
    <h5 align="center"> School Information</h5>
    <hr class="mt-0 mb-4">
    <div class="row">
      <div class="col-6">
        {{ form.school_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.school_county|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.school_district|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.consenter_type|as_crispy_field }}
      </div>
    </div>
    </div>

    <div><h5 align="center"> Test Participant Information</h5></div>
<hr class="mt-0 mb-4">
    <div class="row">
      <div class="col-6">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>
    {{ form.address1|as_crispy_field }}
    {{ form.address2|as_crispy_field }}

    <div class="row">
      <div class="col-4">
        {{ form.city|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.zip_code|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.state|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        {{ form.phone_no|as_crispy_field }}
      </div>
      <div class="col-8">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
      <p><b>Note:</b> please enter guardian's phone and email If you are under the age of 18</p>
    <hr class="mt-0 mb-4">

    {{ form.gender|as_crispy_field }}
    <hr class="mt-0 mb-4">
    {{ form.race|as_crispy_field }}
    <hr class="mt-0 mb-4">
    {{ form.ethnicity|as_crispy_field }}
    <hr class="mt-0 mb-4">

  <br>
    <div>
      <h5 >Consent and Data Sharing</h5>
      <br>
      {{ form.authorize_checkbox|as_crispy_field }}
      <br>
      {{ form.specimen_collection_checkbox|as_crispy_field }}
    <hr class="mt-0 mb-4">
  <div class="col-4">
    {{ form.date|as_crispy_field }}
  </div >
    <button  type="submit" class="btn btn-success" >Submit</button>
    </div>
      <br>
      <hr class="mt-0 mb-4">
    </form>
    {% endblock %}